<html>
  <body>
    Hi[% IF customer.firstname; " "; customer.firstname; END %]<br />
    <br />
    Welcome to [% site.company_name %] [% site.store_name %]!<br />
    <br />
    [% PROCESS email/signature.html.tt %]
    <br />
  </body>
</html>


