[% IF error.error_fields.size %]
  [% FOREACH errors IN error.error_fields.values %]
    [% FOREACH error IN errors %]
      [% PROCESS inc/error.tt %]
    [% END %]
  [% END %]
[% ELSIF error.error %]
  [% PROCESS inc/error.tt error=error.error %]
[% END %]
